h1  {
  text-align:center;
 
}

body {
  font-family: garamond;

}

.jumbotron {
  background-color: rgb(190, 224, 190);

}

.jesa1 {
  float:left;
  padding:5px;
  border: 3px solid grey;
  margin: 10px;

}


