body {
  font-family: garamond;
  color: rgb(0, 29, 0);
  background-color: rgb(247, 243, 225);
}

.jumbotron {
  background-color: rgb(190, 224, 190);
  margin-top: 15px;
  padding: 15px;
}

h1  {
  text-align:center;
 
}

.jesa1 {
  float:left;
  padding:5px;
  border: 3px solid grey;
  margin: 10px;
  margin-right: 22px;
}

.row li {
  font-size: 19px;
}

.row p {
  padding: 5px;
  font-size:15px;
}

.jesagma {
  float:right;
  padding:5px;
  border: 3px solid grey;
  margin: 10px;
}

p {
  font-size: 16px;
}

.sidebar {
  float:left;
  width: 450px;

}

.bold {
  font-weight: bolder;

}

.well {
  max-width: 600px;
  float:right;
}

h4 {
  font-size: 26px;
  
}


h5 {
  font-size: 17px;
  float:right;
  margin: 25px;
}





